@{
    ViewBag.Title = "АМКР, ЦУ КХП";
    ViewBag.section = "Учет бензола";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/Content/report/homemenu.css">
}

@section scripts {
    <script>
        $('body').addClass('img-header-global');
    </script>
}
<ul class="ca-menu">
    <li>
        <a href='#'>
            <span class="ca-icon">P</span>
            <div class="ca-content">
                <h2 class="ca-main">Суточный</h2>
                <h3 class="ca-sub">Суточный отчет</h3>
            </div>
        </a>
    </li>
    <li>
        <a href='#'>
            <span class="ca-icon">X</span>
            <div class="ca-content">
                <h2 class="ca-main">Прием бензола</h2>
                <h3 class="ca-sub">Отчёт приёма бензола в резервуары</h3>
            </div>
        </a>
    </li>
    <li>
        <a href='#'>
            <span class="ca-icon">Z</span>
            <div class="ca-content">
                <h2 class="ca-main">Емкости</h2>
                <h3 class="ca-sub">Отчет по движению бензола в емкостях</h3>
            </div>
        </a>
    </li>
    <li>
        <a href='#'>
            <span class="ca-icon">U</span>
            <div class="ca-content">
                <h2 class="ca-main">Сменный отчет</h2>
                <h3 class="ca-sub">Отчет по выдачи ГСМ за сменну</h3>
            </div>
        </a>
    </li>
    <li>
        <a href='@Url.Action("Remains", "Home", new { Area = "report" })'>
            <span class="ca-icon">F</span>
            <div class="ca-content">
                <h2 class="ca-main">Остатки</h2>
                <h3 class="ca-sub">Отчет по остаткам</h3>
            </div>
        </a>
    </li>
    <li>
        <a href='#'>
            <span class="ca-icon">P</span>
            <div class="ca-content">
                <h2 class="ca-main">Графики</h2>
                <h3 class="ca-sub">Графики основных параметров емкостей</h3>
            </div>
        </a>
    </li>
    <li>
        <a href='#'>
            <span class="ca-icon">L</span>
            <div class="ca-content">
                <h2 class="ca-main">Емкости</h2>
                <h3 class="ca-sub">Состояние емкостей с бензолом</h3>
            </div>
        </a>
    </li>
</ul>