USE [BENZINEtanks]
GO
/****** Object:  Table [dbo].[T2]    Script Date: 11.12.2020 13:36:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T2](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[SIEMENS1200_PLC1_DATA_TANKS_Tank2ProductDensity_NUMERICID] [varchar](64) NULL,
	[SIEMENS1200_PLC1_DATA_TANKS_Tank2ProductDensity_VALUE] float NULL,
	[SIEMENS1200_PLC1_DATA_TANKS_Tank2ProductDensity_TIMESTAMP] [datetime] NULL,
	[SIEMENS1200_PLC1_DATA_TANKS_Tank2ProductDensity_QUALITY] [smallint] NULL,
	[SIEMENS1200_PLC1_DATA_TANKS15_T2Density_NUMERICID] [varchar](64) NULL,
	[SIEMENS1200_PLC1_DATA_TANKS15_T2Density_VALUE] float NULL,
	[SIEMENS1200_PLC1_DATA_TANKS15_T2Density_TIMESTAMP] [datetime] NULL,
	[SIEMENS1200_PLC1_DATA_TANKS15_T2Density_QUALITY] [smallint] NULL,
	[SIEMENS1200_PLC1_DATA_TANKS_Tank2ProductLevel_NUMERICID] [varchar](64) NULL,
	[SIEMENS1200_PLC1_DATA_TANKS_Tank2ProductLevel_VALUE] float NULL,
	[SIEMENS1200_PLC1_DATA_TANKS_Tank2ProductLevel_TIMESTAMP] [datetime] NULL,
	[SIEMENS1200_PLC1_DATA_TANKS_Tank2ProductLevel_QUALITY] [smallint] NULL,
	[SIEMENS1200_PLC1_DATA_TANKS_Tank2ProductMass_NUMERICID] [varchar](64) NULL,
	[SIEMENS1200_PLC1_DATA_TANKS_Tank2ProductMass_VALUE] float NULL,
	[SIEMENS1200_PLC1_DATA_TANKS_Tank2ProductMass_TIMESTAMP] [datetime] NULL,
	[SIEMENS1200_PLC1_DATA_TANKS_Tank2ProductMass_QUALITY] [smallint] NULL,
	[SIEMENS1200_PLC1_DATA_TANKS_Tank2ProductVolume_NUMERICID] [varchar](64) NULL,
	[SIEMENS1200_PLC1_DATA_TANKS_Tank2ProductVolume_VALUE] float NULL,
	[SIEMENS1200_PLC1_DATA_TANKS_Tank2ProductVolume_TIMESTAMP] [datetime] NULL,
	[SIEMENS1200_PLC1_DATA_TANKS_Tank2ProductVolume_QUALITY] [smallint] NULL,
	[SIEMENS1200_PLC1_DATA_TANKS15_T2Volume_NUMERICID] [varchar](64) NULL,
	[SIEMENS1200_PLC1_DATA_TANKS15_T2Volume_VALUE] float NULL,
	[SIEMENS1200_PLC1_DATA_TANKS15_T2Volume_TIMESTAMP] [datetime] NULL,
	[SIEMENS1200_PLC1_DATA_TANKS15_T2Volume_QUALITY] [smallint] NULL,
	[SIEMENS1200_PLC1_DATA_TANKS_Tank2Temperature_NUMERICID] [varchar](64) NULL,
	[SIEMENS1200_PLC1_DATA_TANKS_Tank2Temperature_VALUE] float NULL,
	[SIEMENS1200_PLC1_DATA_TANKS_Tank2Temperature_TIMESTAMP] [datetime] NULL,
	[SIEMENS1200_PLC1_DATA_TANKS_Tank2Temperature_QUALITY] [smallint] NULL,
	[SIEMENS1200_PLC1_DATA_TANKS_Tank2TotalLevel_NUMERICID] [varchar](64) NULL,
	[SIEMENS1200_PLC1_DATA_TANKS_Tank2TotalLevel_VALUE] float NULL,
	[SIEMENS1200_PLC1_DATA_TANKS_Tank2TotalLevel_TIMESTAMP] [datetime] NULL,
	[SIEMENS1200_PLC1_DATA_TANKS_Tank2TotalLevel_QUALITY] [smallint] NULL,
	[SIEMENS1200_PLC1_DATA_TANKS_Tank2WaterLevel_NUMERICID] [varchar](64) NULL,
	[SIEMENS1200_PLC1_DATA_TANKS_Tank2WaterLevel_VALUE] float NULL,
	[SIEMENS1200_PLC1_DATA_TANKS_Tank2WaterLevel_TIMESTAMP] [datetime] NULL,
	[SIEMENS1200_PLC1_DATA_TANKS_Tank2WaterLevel_QUALITY] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
